<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <ConvertFormat>
	<LabInput>E:\shihliu\code\MerlinIntegration\1st_Version\tool\intermediate\3_linguisticExtraction\output</LabInput>
	<LabOutput>E:\shihliu\code\MerlinIntegration\1st_Version\tool\intermediate\4_decoder\labOutput</LabOutput>
	<CmpOutC>E:\shihliu\code\MerlinIntegration\1st_Version\tool\intermediate\4_decoder\cntkcmp</CmpOutC>
	<F0LabInput>E:\shihliu\code\MerlinIntegration\1st_Version\tool\intermediate\4_decoder\f0labelInput</F0LabInput>
	<f0LabOutput>E:\shihliu\code\MerlinIntegration\1st_Version\tool\intermediate\4_decoder\f0labelOutput</f0LabOutput>
  </ConvertFormat>
  
  <Decode>
	<CNTKPath>\\stcag-015\shihliu\tools\cntk_1bit\CNTK.exe</CNTKPath>
	<ConfigDir>\\stcag-015\shihliu\xiaoice_merlin\modelconfig</ConfigDir>
	<ModelDir>\\stcag-015\shihliu\xiaoice_merlin\DNN_4l_model</ModelDir>
        <ModelName>speech_sing.4L.fix4l_0721.cntk</ModelName>
        <InDim>1321</InDim>
	<OutDim>199</OutDim>
	<WithF0>false</WithF0>
	<F0Dim>7</F0Dim>
	<ConfigFile>\\stcag-015\shihliu\xiaoice_merlin\modelconfig\WriteOutput.speech_sing.config</ConfigFile>
  </Decode>
 
  <FileList>
	<ScpPath>E:\shihliu\code\MerlinIntegration\1st_Version\tool\intermediate\4_decoder\scp</ScpPath>	
	<FileListFile>E:\shihliu\code\MerlinIntegration\1st_Version\tool\input\filelist.txt</FileListFile>
  </FileList>
  
  <ConvertCMP>
	<CmpOutPath>E:\shihliu\code\MerlinIntegration\1st_Version\tool\intermediate\4_decoder\output</CmpOutPath>
  </ConvertCMP>
  

</Settings>