<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="LingusticConfigFilePathTemplate" value="\\tts\shanhai\ttsdata\ttsdata\{0}\Language\Model.Rule\QuestionSet\LinguisticFeature.config" />
    <add key="PhoneSetPathTemplate" value="\\tts\shanhai\ttsdata\ttsdata\{0}\Language\TAData\Phone\phoneset.xml" />
    <add key="LanguageDataPathTemplate" value=".\LocaleHandler\MSTTSLoc{0}.dat" />
    <add key="LanguageDllPath" value=".\" />
    <add key="ScriptSynthesizerConfigPath" value=".\testdata\FullContextLabelGenerator.UnitTest\SeparateXml\TestConfig\ScriptSynthesizerConfig.config" />
  </appSettings>
</configuration>