<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!--Common part for all input formats.-->
  <!--A flag indicates the input format. Text, SeparateXml, Xml.-->
  <Format>Text</Format>
  <Language>zh-CN</Language>
  <VoiceFontPath>${currentFolder}\input\voicefont\2052</VoiceFontPath>
  <OutputDirectory>${currentFolder}\intermediate\1_labelGeneration</OutputDirectory>
  <!--A switch flag indicates whether generate phone-based or state-based labels. Both, Phone, State.-->
  <OutputType>Both</OutputType>
  <!--Parts for Text format.-->
  <HaveSentenceNumber>true</HaveSentenceNumber>
  <TextFilePath>${currentFolder}\input\text.txt</TextFilePath>
  <!--Parts for Separate Xml format.-->
  <PhoneFile>${currentFolder}\input\phone-align</PhoneFile>
</Settings>