<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <ConvertFormat>
	<LabInput>${currentFolder}\intermediate\3_linguisticExtraction\output</LabInput>
	<LabOutput>${currentFolder}\intermediate\6_decoder\labOutput</LabOutput>
	<CmpOutC>${currentFolder}\intermediate\6_decoder\cntkcmp</CmpOutC>
	<F0LabInput>${currentFolder}\intermediate\5_wavGeneration\output\f0_label</F0LabInput>
	<f0LabOutput>${currentFolder}\intermediate\6_decoder\f0labelOutput</f0LabOutput>
  </ConvertFormat>
  
  <Decode>
	<CNTKPath>${currentFolder}\tool\cntk_1bit\CNTK.exe</CNTKPath>
	<ConfigDir>${currentFolder}\input</ConfigDir>
	<ModelDir>${currentFolder}\input\model</ModelDir>
        <ModelName>speech_sing.f0.4L.fix4l.0801.cntk</ModelName>
        <InDim>1321</InDim>
	<OutDim>199</OutDim>
	<WithF0>true</WithF0>
	<F0Dim>7</F0Dim>
	<ConfigFile>${currentFolder}\input\WriteOutput.speech_sing_f0.config</ConfigFile>
  </Decode>
 
  <FileList>
	<ScpPath>${currentFolder}\intermediate\6_decoder\scp</ScpPath>	
	<FileListFile>${currentFolder}\input\filelist.txt</FileListFile>
  </FileList>
  
  <ConvertCMP>
	<CmpOutPath>${currentFolder}\intermediate\6_decoder\output</CmpOutPath>
  </ConvertCMP>
  

</Settings>