<?xml version="1.0" encoding="utf-8" ?>
<scriptToWave xmlns="http://schemas.microsoft.com/tts/toolsuite">
  <scriptFeatureImport>
    <consistencyCheckOption value="Word" />
    <normalWordDuration update="false"/>
    <toBI>
      <!--Update normal words' break level-->
      <breakLevel update="false">
        <boundaryTone update="false"/>
      </breakLevel>
      <toBIAccent update="false"/>
    </toBI>
    <silence>
      <!--Add/Remove silence words to engine according to scripts' silence words-->
      <silenceWord update="true">
        <!--Update silence words' duration with duration given in script xml-->
        <scriptSilenceDuration update="false"/>
      </silenceWord>
      <!--Update silence words' duration with configured silence length according to break level-->
      <fixedSilenceDuration update="false">
        <fixedSilenceLength>
          <intermPhraseBreakLength value="0"/>
          <intonaPhraseBreakLength value="0"/>
          <nonpuncIntonaPhraseBreakLength value="0"/>
          <sentenceBreakLength value="0"/>
        </fixedSilenceLength>
      </fixedSilenceDuration>
    </silence>
    <f0 update="false">
      <fixF0NoConsistenceNum value="0"/>
    </f0>
    <power update="false"/>
    <pronunciation update="false"/>
    <partOfSpeech update="false"/>
    <emphasis update="false"/>
    <sentenceType update="false"/>
  </scriptFeatureImport>
</scriptToWave>