#######################################

command=ExportToDBN

precision=float

deviceId=-1
lockGPU=false
##########################################
#  Blocks common to all pre-training commands
##########################################
#traceLevel=1

ExportToDBN=[
    action=exportdbn
    dbnModelPath=$DBNModelFile$
    modelPath=$CNTKModelFile$
]