HiddenDim=1024

#######################################

command=TTS_Train

precision=float

ndlMacros=$ConfigDir$\default_macros.ndl
deviceId=-1
lockGPU=false
##########################################
#  Blocks common to all pre-training commands
##########################################
#traceLevel=1
    
# Parameter values for the reader
reader=[
    # reader to use
    readerType=HTKMLFReader

	# readMethod=blockRandomize
    readMethod=rollingWindow

    miniBatchMode=Partial
    randomize=Auto
    verbosity=1  

	featIn=[
		dim=$InDim$
		scpFile=$InScpFile$
    ]

    featOut=[
		dim=$OutDim$
		scpFile=$OutScpFile$
    ]
]

TTS_Train=[
    action=train
    modelPath=$ModelDir$\$ModelName$
    NDLNetworkBuilder=[
		NetworkDescription=$ConfigDir$\create_4layer_regression.ndl
    ]
    SGD=[
        epochSize=0
        minibatchSize=128
        learningRatesPerMB=0.01
        momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=100
        
	      gradUpdateType=rmsprop
        rms_wgt_inc=1.2
        rms_wgt_dec=0.75
        rms_wgt_max=1
        rms_wgt_min=1
        rms_gamma=0.99
    ]  
]



