HiddenDim=1024

#######################################

command=TTS_Train

precision=float

lockGPU=false

#######################################
#  TRAINING CONFIG (Simple, Fixed LR) #
#######################################

TTS_Train=[
    action=train

    modelPath=$ModelDir$\$ModelName$

    # deviceId=-1 for CPU, >=0 for GPU devices 
    # deviceId=0

    # traceLevel=1

    # notation xxx:yyy*n:zzz is equivalent to xxx, then yyy repeated n times, then zzz
    # example: 10:20*3:5 is equivalent to 10:20:20:20:5
    NDLNetworkBuilder=[
		ndlMacros=$ConfigDir$\default_macros.ndl
        NetworkDescription=$ConfigDir$\create_3layer_regression.ndl
    ]	
	
    SGD=[
	    # epochSize=0 means epochSize is the size of the training set
        epochSize=0 
        minibatchSize=128
        learningRatesPerMB=0.002*30:0.001*30:0.0001
        momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=100
    ]
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=HTKMLFReader

#     readMethod=blockRandomize
      readMethod=rollingWindow

      miniBatchMode=Full
      randomize=Auto
      verbosity=1   

      featIn=[
	    dim=$InDim$
		scpFile=$InScpFile$
      ]

      featOut=[
		dim=$OutDim$
		scpFile=$OutScpFile$
      ]
    ]
]
