HiddenDim=512
CellDim=512
ProjectDim=128
 
#ConfigDir = "\\stcgpu-17\xwang\dnn\tools\cntk_master\macros" 
#ModelDir = "\\stcgpu-17\xwang\exp\eva\full\NNTraining_16K_Output_reNorm\Intermediate\nnTrain.mf4_1ff3lstmp128\Intermediate"
 
#ModelName=model.cntk
#InDim=631 
#OutDim=508 
#InScpFile=\\stcgpu-17\xwang\exp\eva\full\NNTraining_16K_Output_reNorm\Intermediate\nnTrain.mf4_1ff3lstmp128\Intermediate\archiveInput.scp
#OutScpFile=\\stcgpu-17\xwang\exp\eva\full\NNTraining_16K_Output_reNorm\Intermediate\nnTrain.mf4_1ff3lstmp128\Intermediate\archiveOutput.scp 


#######################################
command=TTS_Train:TTS_SVD:TTS_Train2
Truncated=true
precision=float

lockGPU=false
shareNodeValueMatrices=true
parallelTrain=true

#######################################
#  TRAINING CONFIG (Simple, Fixed LR) #
#######################################

TTS_Train=[
    action=train

    modelPath=$ModelDir$\LSTM\$ModelName$

    # deviceId=-1 for CPU, >=0 for GPU devices 
    # deviceId=0

    # traceLevel=1

    # notation xxx:yyy*n:zzz is equivalent to xxx, then yyy repeated n times, then zzz
    # example: 10:20*3:5 is equivalent to 10:20:20:20:5
    NDLNetworkBuilder=[
		ndlMacros=$ConfigDir$\default_macros.ndl
        NetworkDescription=$ConfigDir$\create_1ff_3lstmp_largeM_128.ndl
    ]	
	
    SGD=[
	    # epochSize=0 means epochSize is the size of the training set
        epochSize=0 
        #minibatchSize=32
        #learningRatesPerSample=0.00001*20:0.000005*40:0.000001
        minibatchSize=10
        learningRatesPerSample=0.00025*10:0.00001*60:0.000001
		momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=100
                                gradUpdateType=rmsprop
                                rms_wgt_inc=1.2
                                rms_wgt_dec=0.75
                                rms_wgt_max=1
                                rms_wgt_min=1
                                rms_gamma=0.99						
		gradientClippingWithTruncation=true
		clippingThresholdPerSample=0.1
    ]
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=HTKMLFReader

#     readMethod=blockRandomize
#     readMethod=rollingWindow
	  
      frameMode=false
      
      nbruttsineachrecurrentiter=64

      miniBatchMode=Partial
      randomize=Auto
      verbosity=0 

      featIn=[
	    dim=$InDim$
		scpFile=$InScpFile$
      ]

      featOut=[
		dim=$OutDim$
		scpFile=$OutScpFile$
      ]
    ]
]

TTS_SVD=[
    action=SVD
    modelPath=$ModelDir$\LSTM\$ModelName$
    outputmodelPath=$ModelDir$\SVD\$ModelName$.0
    SVDConfig=$ConfigDir$\SVD_1FF3LSTMP_M_0.4.config
]

TTS_Train2=[
    action=train

    modelPath=$ModelDir$\SVD\$ModelName$

    # deviceId=-1 for CPU, >=0 for GPU devices 
    # deviceId=0

    # traceLevel=1

    # notation xxx:yyy*n:zzz is equivalent to xxx, then yyy repeated n times, then zzz
    # example: 10:20*3:5 is equivalent to 10:20:20:20:5
    NDLNetworkBuilder=[
		ndlMacros=$ConfigDir$\default_macros.ndl
        NetworkDescription=$ConfigDir$\create_1ff_3lstmp_largeM_128.ndl
    ]	
	
    SGD=[
	    # epochSize=0 means epochSize is the size of the training set
        epochSize=0 
        #minibatchSize=32
        #learningRatesPerSample=0.00001*20:0.000005*40:0.000001
        minibatchSize=10
        learningRatesPerSample=0.00001*10:0.000005*20:0.000001
		momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=50
                                gradUpdateType=rmsprop
                                rms_wgt_inc=1.2
                                rms_wgt_dec=0.75
                                rms_wgt_max=1
                                rms_wgt_min=1
                                rms_gamma=0.99
		
		 						
		gradientClippingWithTruncation=true
		clippingThresholdPerSample=0.1
    ]
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=HTKMLFReader

#     readMethod=blockRandomize
#     readMethod=rollingWindow
	  
      frameMode=false
      
      nbruttsineachrecurrentiter=64

      miniBatchMode=Partial
      randomize=Auto
      verbosity=0 

      featIn=[
	    dim=$InDim$
		scpFile=$InScpFile$
      ]

      featOut=[
		dim=$OutDim$
		scpFile=$OutScpFile$
      ]
    ]
]