HiddenDim=1024

#######################################

command=TTS_Train

precision=float

lockGPU=false

#######################################
#  TRAINING CONFIG (Simple, Fixed LR) #
#######################################

TTS_Train=[
    action=train

    modelPath=$ModelDir$\$ModelName$

    # deviceId=-1 for CPU, >=0 for GPU devices 
    # deviceId=0

    # traceLevel=1

    # notation xxx:yyy*n:zzz is equivalent to xxx, then yyy repeated n times, then zzz
    # example: 10:20*3:5 is equivalent to 10:20:20:20:5
    NDLNetworkBuilder=[
		ndlMacros=$ConfigDir$\default_macros.ndl
        NetworkDescription=$ConfigDir$\create_3ff_1lstm.ndl
    ]	
	
    SGD=[
	    # epochSize=0 means epochSize is the size of the training set
        epochSize=0 
        minibatchSize=10
        learningRatesPerMB=0.01
        momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=100
                                gradUpdateType=rmsprop
                                rms_wgt_inc=1.2
                                rms_wgt_dec=0.75
                                rms_wgt_max=1
                                rms_wgt_min=1
                                rms_gamma=0.99
								
		gradientClippingWithTruncation=true
    ]
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=HTKMLFReader

#     readMethod=blockRandomize
#     readMethod=rollingWindow
	  
      frameMode=false
      Truncated=true
      nbruttsineachrecurrentiter=10

      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   

      featIn=[
	    dim=$InDim$
		scpFile=$InScpFile$
      ]

      featOut=[
		dim=$OutDim$
		scpFile=$OutScpFile$
      ]
    ]
]
