HiddenDim=1024

#######################################

command=TTS_DiscrimPreTrain1:TTS_AddLayer2:TTS_DiscrimPreTrain2:TTS_AddLayer3:TTS_Train3:TTS_SVD:TTS_Train

precision=float

ndlMacros=$ConfigDir$\default_macros.ndl
#deviceId=$DeviceNumber$
lockGPU=false
##########################################
#  Blocks common to all pre-training commands
##########################################
#traceLevel=1
SGD=[
	# epochSize=0 means epochSize is the size of the training set
	epochSize=0 
    minibatchSize=128
    learningRatesPerMB=0.01
    momentumPerMB=0.9
    dropoutRate=0.0
    maxEpochs=50
	                        gradUpdateType=rmsprop
                                rms_wgt_inc=1.2
                                rms_wgt_dec=0.75
                                rms_wgt_max=1
                                rms_wgt_min=1
                                rms_gamma=0.99
]
       
# Parameter values for the reader
reader=[
    # reader to use
    readerType=HTKMLFReader

	# readMethod=blockRandomize
    readMethod=rollingWindow

    miniBatchMode=Partial
    randomize=Auto
    verbosity=1  

	featIn=[
		dim=$InDim$
		scpFile=$InScpFile$
    ]

    featOut=[
		dim=$OutDim$
		scpFile=$OutScpFile$
    ]
]

TTS_DiscrimPreTrain1=[
    action=train    
    modelPath=$ModelDir$\dptmodel1\$ModelName$
    NDLNetworkBuilder=[
		NetworkDescription=$ConfigDir$\create_1layer_regression.ndl
    ]
]

TTS_AddLayer2=[    
    action=edit
    CurrLayer=1
    NewLayer=2
    CurrModel=$ModelDir$\dptmodel1\$ModelName$
    NewModel=$ModelDir$\dptmodel2\$ModelName$.0
    editPath=$ConfigDir$\add_layer_regression.mel
]

TTS_DiscrimPreTrain2=[
    action=train
    modelPath=$ModelDir$\dptmodel2\$ModelName$
    NDLNetworkBuilder=[
		NetworkDescription=$ConfigDir$\create_1layer_regression.ndl
    ]
]

TTS_AddLayer3=[
    action=edit
    CurrLayer=2
    NewLayer=3
    CurrModel=$ModelDir$\dptmodel2\$ModelName$
    NewModel=$ModelDir$\model\$ModelName$.0
    editPath=$ConfigDir$\add_layer_regression.mel
]

TTS_Train3=[
    action=train
    modelPath=$ModelDir$\model\$ModelName$
    NDLNetworkBuilder=[
		NetworkDescription=$ConfigDir$\create_1layer_regression.ndl
    ]
    SGD=[
        epochSize=0 
        minibatchSize=128
        learningRatesPerMB=0.01
        momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=100
	                        gradUpdateType=rmsprop
                                rms_wgt_inc=1.2
                                rms_wgt_dec=0.75
                                rms_wgt_max=1
                                rms_wgt_min=1
                                rms_gamma=0.99
    ]  
]

TTS_SVD=[
    action=SVD
    modelPath=$ModelDir$\model\$ModelName$
    outputmodelPath=$ModelDir$\$ModelName$.0
    SVDConfig=$ConfigDir$\SVD_DNN_3L.config
]

TTS_Train=[
    action=train
    modelPath=$ModelDir$\$ModelName$
    NDLNetworkBuilder=[
		NetworkDescription=$ConfigDir$\create_1layer_regression.ndl
    ]
    SGD=[
        epochSize=0 
        minibatchSize=128
        learningRatesPerMB=0.01
        momentumPerMB=0.9
        dropoutRate=0.0
        maxEpochs=50
	                        gradUpdateType=rmsprop
                                rms_wgt_inc=1.2
                                rms_wgt_dec=0.75
                                rms_wgt_max=1
                                rms_wgt_min=1
                                rms_gamma=0.99
    ]  
]