command=TTS_WriteOutput

precision=float

##################
#  WRITER CONFIG #
##################
TTS_WriteOutput=[
    action=write

    modelPath=$ModelDir$\$ModelName$

    # deviceId=-1 for CPU, >=0 for GPU devices 
    # deviceId=$DeviceNumber$

    lockGPU=false

    # traceLevel=1

    # notation xxx:yyy*3:zzz is equivalent to xxx:yyy:yyy:yyy:zzz
    outputNodeNames=OutputNodes

    # Parameter values for the reader
    reader=[
		# reader to use
		readerType=HTKMLFReader
		featIn=[
			dim=$InDim$
			scpFile=$TestInScpFile$
			type=Real
		]
    ]
    writer=[
		writerType=HTKMLFWriter	
		OutputNodes = [
			dim=$OutDim$
			scpFile=$TestOutScpFile$
			type=Real
		]
	]
]
